<header id="header">
  <button id="scrape" class="btn btn-success">Scrape Articles</button>
  <button id="clear" class="btn btn-danger">Clear All Articles</button>
  <h2><span style="color: #d52526">n</span>p<span style="color: #2b79ba">r</span> News Scraper</h2>
</header>
<div id="banner"></div>